main{
    padding-top: 5vh;
}

#promo{
    margin: auto;
    width: 75vw;
    display: flex;
    justify-content: flex-end;
    height: 3vh;

    & p{
        color: #00b289;
    }
}

#pricing_plan{
    margin: auto;
    width: 75vw;
    display: flex;
    justify-content: space-between;

    & #plans{
        display: flex;
        justify-content: space-between;
        width: 15vw;
        align-items: center;

        & #toggle_container{
            display: flex;
            background-color: #00b289;
            position: relative;
            height: 4vh;
            width: 4vw;
            border-radius: 10px;

            & input[type="checkbox"]{
                /* width: 0px;
                height: 0px; */
                opacity: 0;
                width: 3.5vw;

                &:hover{
                    cursor: pointer;
                }
            }

            & #slider{
                position: absolute;
                background-color: aquamarine;
                -webkit-transition: 0.5s;
                transition: .5s;
            }

            & #slider:before{
                position: absolute;
                content: "";
                background-color: white;
                height: 3vh;
                width: 3vh;
                border-radius: 50%;
                margin-top: 0.5vh;
                margin-left: 0.25vw;
                -webkit-transition: 0.5s;
                transition: .5s;
            }

            & input[type="checkbox"]:checked + #slider:before{
                -moz-transform: translateX(32px);
                -webkit-transform: translateX(32px);
                transform: translateX(32px);
            }
        }
    }
}