body{
    background-color: whitesmoke;
}

main{
    padding-top: 5vh;
}

#promo{
    margin: auto;
    width: 75vw;
    display: flex;
    justify-content: flex-end;
    height: 3vh;

    & p{
        color: #00b289;
    }
}

#pricing_plan{
    margin: auto;
    width: 75vw;
    display: flex;
    justify-content: space-between;

    & #plans{
        display: flex;
        justify-content: space-between;
        width: 15vw;
        align-items: center;

        & #toggle_container{
            display: flex;
            background-color: #00b289;
            position: relative;
            height: 4vh;
            width: 4vw;
            border-radius: 10px;

            & input[type="checkbox"]{
                /* width: 0px;
                height: 0px; */
                opacity: 0;
                width: 3.5vw;

                &:hover{
                    cursor: pointer;
                }
            }

            & #slider{
                position: absolute;
                background-color: aquamarine;
                -webkit-transition: 0.5s;
                transition: .5s;
            }

            & #slider:before{
                position: absolute;
                content: "";
                background-color: white;
                height: 3vh;
                width: 3vh;
                border-radius: 50%;
                margin-top: 0.5vh;
                margin-left: 0.25vw;
                -webkit-transition: 0.5s;
                transition: .5s;
            }

            & input[type="checkbox"]:checked + #slider:before{
                -moz-transform: translateX(32px);
                -webkit-transform: translateX(32px);
                transform: translateX(32px);
            }
        }
    }
}

#price_tiles{
    margin: auto;
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5vh;

    /* & #workflow, & #workflow_plus{
        width: calc((4/10)*75vw);
    } */

    &>div{
        background-color: white;
        width: calc((3/10) * 75vw);
        height: 75vh;
    }

    & span{
        border-bottom: 2px solid #00b289;
        height: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        & .value{
            font-size: 8vh;
        }
        & .period{
            font-size: medium;
            margin-top: 6vh;
        }
        & .currency{
            margin-top: 0;
            size: 2vh;
        }
    }

    & .unordered_list>li{
        margin-bottom: 1vh;
        &::marker{
            color: #00b289;
        }
    }

    & button{
        margin: auto;
        background-color: #00b289;
        color: white;
        width: 17vw;
        height: 5vh;
        border: none;
        margin-left: 5vh;
        margin-right: 5vh;
        margin-bottom: 5vh;
        &:hover{
            cursor: pointer;
        }
    }

    & h2, span, ul{
        margin-left: 5vh;
        margin-right: 5vh;
    }
}